{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<br><br>
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
              <div class="card col-lg-4 mx-auto">
                <div class="card-body px-5 py-5">
                  <h3 class="card-title text-left mb-3">Register</h3>
                  <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    
                    <div class="form-group">
                      <label>Ad</label>
                      <input type="text" name="first_name" class="form-control p_input">
                    </div>
                    <div class="form-group">
                      <label>Soyad</label>
                      <input type="text"  name="last_name"class="form-control p_input">
                    </div>
                    <div class="form-group">
                      <label>İstifadəçi Adı</label>
                      <input type="text" name="username" class="form-control p_input">
                    <div class="form-group">
                    <label>Email</label>
                        <input type="text" name="email" class="form-control p_input">
                      </div>
                      <div class="form-group">
                    <label>Şifrə</label>
                        <input type="password" name="password" class="form-control p_input">
                      </div>
                      <div class="form-group">
                        <label>Təkrar Şifrə</label>
                        <input type="password" name="confirm_password" class="form-control p_input">
                      </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"> Remember me </label>
                      </div>
                      <a href="#" class="forgot-pass">Forgot password</a>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary btn-block enter-btn">Register</button>
                    </div>
                    <br>

                    <p class="sign-up text-center">Already have an Account?<a style="color: rgb(204, 50, 71);" href="{% url 'login' %}"> Sign Up</a></p>
                  </form>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->

      {% if messages%}
        {% for message in messages %}
        <div class="alert alert-info  " role="alert"> {{ message }}</div>
        {% endfor %}
{% endif %}
{% endblock %}